body {
	margin: 0;
	background-image: url(imagens/wallpaper.png);
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

#cabecalho {
	height: 200px;
	width: 100%;
	max-width: 1366px;
}

#mural {
	border: 2px solid #6ac3ff;
	width: 100%;
	max-width: 1366px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.album {
	position: relative;
	margin: 0;
	width: 10%;
}

.album img {
	width: 100%;
	height: auto;
	display: block;
}

#xpg-index {
	background-color: transparent;
	height: 200px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}